extends layout

block content
  h1= title
  h2= subtitle

  form.converter-form(action="/convert" method="POST")
    .form-row
      .form-group
        label(for="amount") Cantidad
        input#amount(type="number" name="amount" placeholder="Ingresa la cantidad" required maxlength="19" oninput="if(this.value.length > 19) this.value = this.value.slice(0, 19)" )
        
        

    .form-row
      .form-group
        label Desde la Divisa
        select(name="fromCurrency" required)
          option(value="" disabled selected) Selecciona la divisa
          optgroup(label="Criptomonedas")
            each crypto in cryptocurrencies
              option(value=crypto.symbol) #{crypto.name} (#{crypto.symbol})
          optgroup(label="Monedas Tradicionales")
            each fiat in fiatCurrencies
              option(value=fiat.symbol) #{fiat.name} (#{fiat.symbol})

      .form-group
        label A la Divisa
        select(name="toCurrency" required)
          option(value="" disabled selected) Selecciona la divisa
          optgroup(label="Criptomonedas")
            each crypto in cryptocurrencies
              option(value=crypto.symbol) #{crypto.name} (#{crypto.symbol})
          optgroup(label="Monedas Tradicionales")
            each fiat in fiatCurrencies
              option(value=fiat.symbol) #{fiat.name} (#{fiat.symbol})

    .form-row
      button.convert-button(type="submit") Convertir

  if result
    .result
      h3 Resultado
      p= result
